<?xml version="1.0" encoding="utf-8"?>
<robot name="jetrover" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="lidar"        value="$(optenv LIDAR_TYPE A1)"/>
    <xacro:property name="machine"      value="$(optenv MACHINE_TYPE JetRover_Mecanum)"/>
    <!-- sim_mode (2026-10-09, prd/gazebo-sim.md): true only for Gazebo (jetrover_gazebo). Wheels become continuous joints with
         sphere collisions there; false (default) keeps the real-robot description unchanged (fixed wheels, mesh collisions).
         한글: Gazebo에서만 true. 바퀴를 회전 관절+구 충돌로. 기본 false는 실기 설명 그대로. -->
    <xacro:arg name="sim_mode" default="false"/>
    <xacro:property name="sim_mode" value="$(arg sim_mode)"/>

    <xacro:include filename="$(find jetrover_description)/urdf/materials.xacro"/>
    <xacro:include filename="$(find jetrover_description)/urdf/inertial_matrix.xacro" />

    <xacro:if value="${lidar in ['A1', 'A2', 'S2L', 'LD14P']}">
        <xacro:include filename="$(find jetrover_description)/urdf/lidar_a1.urdf.xacro"/>
    </xacro:if>
    <xacro:if value="${lidar in ['G4']}">
        <xacro:include filename="$(find jetrover_description)/urdf/lidar_g4.urdf.xacro"/>
    </xacro:if>

    <xacro:if value="${machine == 'JetRover_Mecanum'}">
        <xacro:include filename="$(find jetrover_description)/urdf/car_mecanum.urdf.xacro"/>
        <xacro:include filename="$(find jetrover_description)/urdf/lidar.urdf.xacro"/>
    </xacro:if>
    <xacro:if value="${machine == 'JetRover_Tank'}">
        <xacro:include filename="$(find jetrover_description)/urdf/car_tank.urdf.xacro"/>
        <xacro:include filename="$(find jetrover_description)/urdf/lidar.urdf.xacro"/>
    </xacro:if>
    <xacro:if value="${machine == 'JetRover_Acker'}">
        <xacro:include filename="$(find jetrover_description)/urdf/car_acker.urdf.xacro"/>
        <xacro:include filename="$(find jetrover_description)/urdf/lidar.urdf.xacro"/>
    </xacro:if>

    <xacro:include filename="$(find jetrover_description)/urdf/imu.urdf.xacro"/>
    <xacro:include filename="$(find jetrover_description)/urdf/depth_camera.urdf.xacro"/>
    <xacro:include filename="$(find jetrover_description)/urdf/common.urdf.xacro"/>
    <xacro:include filename="$(find jetrover_description)/urdf/connect.urdf.xacro"/>
    <xacro:include filename="$(find jetrover_description)/urdf/arm.urdf.xacro"/>
</robot>
